{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="container">
        <h2>Checkout</h2>
        <form class="checkout-form" action="{{ url_for('checkout') }}" method="post">
            <div>
                <h3>Informasi Pengiriman</h3>
                <label for="name">Nama Lengkap</label>
                <input type="text" id="name" name="name" required>

                <label for="address">Alamat</label>
                <input type="text" id="address" name="address" required>

                <label for="phone">Nomor Telepon</label>
                <input type="text" id="phone" name="phone" required>
            </div>
            <button type="submit">Checkout Sekarang</button>
        </form>
    </div>
{% endblock %}
